body {
  background-color: #1c9cea;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  //min-height: calc(100vh - 51px);
}

.login-card {
  background-color: #fff;
}
