// container
body {
  background-color: #1c9cea;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  //min-height: calc(100vh - 51px);
}
.tweet-container {
  margin-top: 30px;
}

.wrapper {
  height:150px;;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.log-out {
  background-color: #F8F9FA;
  text-decoration: none;
  border-color: #F8F9FA;
  color: var(--main-link-color);
}

.log-out:hover {
  background-color: #F8F9FA;
  text-decoration: none;
  border-color: #F8F9FA;
  color: var(--link-color);
}

/* User data */
.profileCard {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 70%;
  margin: 0 auto;
}

.profile-tweet {
  top: 240px;
  background-color: #fff;
}

.user-field .username {
  font-weight: 700;
  font-size: 18px;
  color: inherit!important;
}

.user-field .screenName {
  color: #66757f;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.user-stats div {
  margin-top: 5px;
}

.user-stats a {
  text-decoration: none;
}

.user-stats a span:first-child {
  color: #8c9ca9;
  font-size: 10px;
  letter-spacing: .02em;
  text-transform: uppercase;
  text-decoration: none;
}

.user-stats a span:first-child:hover {
  color: #0084B4;
}

.stats {
  float:left;
  margin:10px
}

.user-name {
  margin-left: 10px;
}

/* trends section */
.trends {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 70%;
  margin: 0 auto;
}

.trends-header {
  margin-bottom: 10px;
}

.trends-header span:first-child {
  color: #66757f;
  font-size: 18px;
  font-weight: 300;
}

.trends-list {
  list-style: none;
  padding-left: 5px;;
}

//post-btn

.post-btn {
  margin-top: 5px;
}

.form-content {
  background-color: #94C2DE;
  padding: 20px;
  padding-bottom: 57px;
}

//tweets form-content

#post {
  margin-top: 10px;
}

.tweet-card {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 5px;

}

.tweet-username {
  color: #66757f;
  margin-left: 10px;
}

.tweet-msg {
  padding: 10px;
}

/* icons like & retweet */
.like-section {
  padding-left: 0px;
}
.like {
  margin-right: 5px;
}
